
<div class='pushPanel'>
	<div class='push-row push-header'>
		<div class='pushCol-header-text push-header-textContent'>
			<span>Notifications</span>
		</div>
		<div data-dojo-attach-point="CloseButtonNode" class='push-close-button-modal' role='button' tabindex='0'>
				
			<svg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 32 32'><path fill='#231f20' d='M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z' /></svg>
				
		</div>
	</div>
	<div class='push-row pushBody'>	
		<!-- <div class='pushBody-left'>&nbsp;</div> -->
		<div class='pushBody-content' data-dojo-attach-point="titleNode">
			<div class='pushBody-content-title'>
				<span>
					${title}
				</span>
			</div>
			<div  class='pushBody-content-desc truncate' data-dojo-attach-point="descriptionNode">
				<span>
					${description}
				</span>
			</div>
		</div>
		<div class='pushBody-right'>&nbsp;</div>
	</div>
	<div class='push-row pushFooter'>
		<!-- <div class='pushFooter-left'>&nbsp;</div> -->
		<div class='pushFooter-content'>
				<button data-dojo-attach-point="NextButtonNode" type='button' class='pushFooter-button'>${Next}</button>
				<button data-dojo-attach-point="DismissButtonNode" type='button' class='pushFooter-button'>${Dismiss}</button>
				<button data-dojo-attach-point="OpenButtonNode" type='button' class='pushFooter-button'>${Open}</button>
			
		</div>
		
	</div>
</div>



